.login-body-homepage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.loginpage-login-btn {
  background-color: #0a76d8;
  transition: all 0.5s ease;
}

.loginpage-login-btn:hover {
  background-color: #005cb3;
}

.loginpage-signup-btn {
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
}

.loginpage-signup-btn:hover {
  text-decoration: underline;
}

.login-forgot-function {
  cursor: pointer;
  text-decoration: none;
}

.login-forgot-function:hover {
  text-decoration: underline;

}